/* .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
} */

.home h1 {
  text-align: center;
  color: Pink;
}

.home p {
  font-size: 28px;
  color: whitesmoke;
}
